
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 20px;
  color: #333;
}


#root {
  max-width: 800px;
  margin: auto;
}


h1 {
  text-align: center;
  color: #2c3e50;
}


form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}

form input {
  flex: 1 1 30%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1 1 100%;
  transition: background-color 0.2s ease-in-out;
}

form button:hover {
  background-color:#1d4ed8;
}

.StudentCard {
  background-color: white;
  border: 1px solid #e1e4e8;
  border-left: 6px solid #3498db;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.StudentCard:hover {
  transform: scale(1.01);
}

.StudentCard .status {
  font-weight: bold;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
